/* -- Global -- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body{
  width: 100%;
  height: 100%;
  background-color: #11113c;
  /* background: url('images/art-background.jpg') no-repeat center;
  background-size: cover; */
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 1.8rem;
  font-weight: 300;
}

img{
  width: 100%;
}
/* -- Reusable -- */
/* -- Header -- */
header{
  width: 100%;
  height: 100vh;
}

/* A Cubic Bezier curve is defined by four points P0, P1, P2, and P3. P0 and P3 are the start and the end of the curve and, in CSS these points are fixed as the coordinates are ratios. P0 is (0, 0) and represents the initial time and the initial state, P3 is (1, 1) and represents the final time and the final state. */

/* top: -100vh; is for hiding the top nav*/
.top-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background-color: #16162d;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0 2rem;
}

.nav-link{
  font-family: 'Pattaya', sans-serif;
  font-size: 4rem;
  padding: 1rem;
}

/* This is a non-standardized property, but it was invented to do jknockout text. Can pair it with -webkit-text-fill-color: transparent; so that you're only "hiding" the text in a browser that can do the clipping. */
.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(#ffe838, #fd57bf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.top-nav.open{
  top: 0;
  border-radius: initial;
}

/* hamburger nemu bars */
.menu-toggler{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width:5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 999;
  transition: transform 650ms ease-out;
}

.menu-toggler.open{
  transform: rotate(-45deg);
}

.bar{
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half{
  width: 50%;
}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

/* the bar will be rotated 5 times (90deg*5=450) when got clicked */
.open .bar.start{
  transform: rotate(-450deg) translateX(0.8rem);
}

.open .bar.end{
  transform: rotate(-450deg) translateX(-0.8rem);
}
/* -- About -- */
/* -- Services -- */
/* -- Portfoilo -- */
/* -- Experience -- */
/* -- Contact -- */


